<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Hello {{ name }}</h2>
    <p style="color:blue">
        Lorem ipsum dolar sit amet
    </p>
</body>
</html>