<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Recipe List</h2>

<ul>
    {% for recipe in recipes: %}
        <li>{{ recipe['name'] }}, {{ recipe['description'] }}</li>
    {% endfor %}
</ul>
</body>
</html>